.site-header{
    padding: 10px 0;
    /* overlap/overlay */
    position: absolute;
    width: 100%;
    z-index: 2;
    transition: background-color .3s ease-out;

    &--is-expanded{
         background-color: rgba(47, 85,114,.55);
    }

    @mixin atMedium {
        background-color: rgba(47, 85, 114, .3);
    }
    /* transparent blue */


    /* same as line above, requires postccs-hexrgba added to webpack.config.cs */
    /* currently there is a problem with postcss-hexrgba so using the regular rgba values */
    /* background-color: rgba($mainBlue, .95); */

    &__btn-container{
        /* required to place right */
        @mixin atMedium{
            /* float: right; */
            order: 2;
        }


    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $mainBlue;
        padding: 13px 29px;

        @mixin atMedium {
            left: auto;
            transform: translateX(0);
            padding: 25px 36px;
        }
    }

    &__logo__graphic {
        text-indent: -9999px;
    }

    /* create the hamburger on mobile screens */
    &__menu-icon {
        width: 20px;
        height: 19px;

        position: absolute;
        z-index: 10;
        top: 10px;
        right: 10px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;

            /* added for transformation to an X when clicked */
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;
            transition: all .3s ease-out;
            /* left-ege and perfect center */
            transform: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: white;

            transform-origin: 0 100%;
            transition: transform .3 ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x{
        &::before {
            /* rotate clockwise */
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            /* hide the middle bar */
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            /* rotate counter-clockwise */
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &__menu-content {
        opacity: 0;
        /*create a zoom out affect for the menu */
        transform: scale(1.2);
        /* multiple properties changed, just do all instead of just opacity */
        transition: all .3s ease-out;
        /* position the menu behind everything so it can't be clicked on again */
        position: relative;
        z-index: -10;

        padding-top: 90px;
        text-align: center;

        @mixin atMedium {
            display: flex;
            justify-content: flex-end;
            opacity: 1;
            z-index: 1;
            padding-top: 0;
            transform: scale(1);
        }

        &--is-visible{
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }
    }
}